._*
bin/
.bundle
coverage/*
.DS_Store
db/*.sqlite3
db/backup/
heroku-bundles/
log/*
private/
public/development/*
public/test/*
public/stylesheets/sass/.sass-cache/
rcov.data
.rvmrc
spec/requests/webrat.log
*.sqlite*
*.sw*
test/*
tmp/*
vendor/bundle/*
webrat.log
